# Mallikoetehtävät

### Leevi Kukkonen K8397

## Tehtävä 1

CD

## Tehtävä 2

D

## Tehtävä 3

E #oikea B

In [12]:
import pandas as pd
series1 = pd.Series({2013:1, 2014:2, 2015:3, 2016:4, 2017:5})
series2 = pd.Series({2011:10, 2012:20, 2013:30, 2014:40, 2015:50})
print(series1)
print('\n--------\n')
print(series2)
print(series1 + series2)

2013    1
2014    2
2015    3
2016    4
2017    5
dtype: int64

--------

2011    10
2012    20
2013    30
2014    40
2015    50
dtype: int64
2011     NaN
2012     NaN
2013    31.0
2014    42.0
2015    53.0
2016     NaN
2017     NaN
dtype: float64

## Tehtävä 4

In [91]:
import pandas as pd
df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananalk2019/kertaus/kertaus1.csv')
#print(df.sort_values[by=''])
df= df.dropna()
maxlampo = df.sort_values(by='Ylin lämpötila (degC)', ascending=False)[['Kk', 'Pv', 'Vuosi','Ylin lämpötila (degC)']]
minlampo = df.sort_values(by='Alin lämpötila (degC)')[['Kk', 'Pv', 'Vuosi','Alin lämpötila (degC)']]
print('A)\n\n',maxlampo[0:5],'\n\n', minlampo[0:6])

A)

        Kk  Pv  Vuosi  Ylin lämpötila (degC)
12992   7  28   1994                   33.3
21763   8   2   2018                   32.3
21762   8   1   2018                   31.6
21747   7  17   2018                   31.5
10771   6  28   1988                   31.3

        Kk  Pv  Vuosi  Alin lämpötila (degC)
10234   1   8   1987                  -38.5
2590    2   3   1966                  -38.5
10235   1   9   1987                  -38.1
9502    1   6   1985                  -37.7
10237   1  11   1987                  -37.7
6985    2  15   1978                  -37.1

In [121]:
import pandas as pd
df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananalk2019/kertaus/kertaus1.csv')
df['Sademäärä (mm)'].replace({-1: 0}, inplace=True)
df[['Kk', 'Sademäärä (mm)']]

       Kk  Sademäärä (mm)
0       1             1.0
1       1             1.5
2       1            10.6
3       1             1.7
4       1             7.1
5       1             2.3
6       1             3.3
7       1             0.3
8       1             1.5
9       1             0.7
10      1             5.5
11      1             2.8
12      1             1.1
13      1             0.6
14      1             0.2
15      1             0.7
16      1             0.7
17      1             0.0
18      1             0.2
19      1             0.0
20      1             8.1
21      1             0.3
22      1             5.5
23      1             1.2
24      1             1.1
25      1             0.0
26      1             0.4
27      1             0.0
28      1             0.0
29      1             1.2
...    ..             ...
21978   3             0.0
21979   3             0.0
21980   3             2.7
21981   3             3.5
21982   3             0.0
21983   3             0.0
21984   3             0.0
21985   3             0.0
21986   3             0.9
21987   3             1.4
21988   3             1.9
21989   3             3.8
21990   3             6.8
21991   3             1.0
21992   3             0.7
21993   3             2.0
21994   3             0.0
21995   3             0.0
21996   3             0.4
21997   3             0.0
21998   3             0.7
21999   3             0.0
22000   3             0.0
22001   3             0.0
22002   3             0.0
22003   3             0.0
22004   3             0.0
22005   4             0.0
22006   4             0.0
22007   4             0.0

[22008 rows x 2 columns]